@import '../../../sass/mixins/border.scss';
@import '../../../sass/mixins/others.scss';
@import '../../../sass/mixins/alignment.scss';
@import '../../../sass/constant/color.scss';

div.container {
    @include Debug();
    @include Rectangle(575px, 540px);
    border-radius: 30px;
    // background-color: $hey-bg-color;
    @include GridCenter();
    @include BgNCol($hey-bg-color, white);

    & > div.abc_container {
        @include Rectangle(456px, 420px);
        @include Debug(yellow);
        @include Flex(column, space-between);

        & > div {
            @include Debug();
            width: 100%;
        }

        & > div.description {
            @include Debug(blue);
            // @include Flex(column);
            p {
                @include Flex(column);
                font-size: 35px;
                // text-align: left;
                span {
                    width: 100%;
                    text-align: left;
                }
            }
        }

        & > div.icons {
            height: 80px;
            // @include Rectangle(80px);
            @include Debug(white);
            @include Flex(row, space-between);

            & > div {
                @include Rectangle(80px, 108px);
                // border-radius: 100%;
                border: 1px solid green;
            }
        }

        & > div.title {
            p {
                font-size: 60px;
                // @include Flex(column);
                span {
                    color: $nav-button-color;
                }
            }
        }
    }
}
