$footer-text-color: var(--footer-text-color, #848795);
$footer-bg-color: var(--footer-bg-color, #181818);
$nav-button-color: var(--nav-button-color, #63FE9F);
$token-bg-color: var(--token-bg-color, #1D1E1F);
$token-text-color: var(--token-text-color, #858795);